doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Ezra
  link(rel='shortcut icon' href='/static/images/favicon.svg' type='image/svg+xml')
  link(rel='stylesheet' type='text/css' href='/static/stylesheets/index.css')
  link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet')
img#lines(src='/static/images/Component 13.svg')
main
  #mainText.green
    | I&apos;m Ezra, A 
    span.blue
      | Full 
      br
      | Stack
    |  Web Developer
  button.blue
    a(href='/portfolio') My Other Work
header
  #nav
    button#closeButton.appear
      img(src='/static/images/closeButton.svg' alt='')
    a.green(href='/about') About Me
    a.green(href='/portfolio') PortFolio
    a.green(href='/fun') A Little Fun
  button#menuButton.appear
        img#menuSVG.show(src='/static/images/menu.svg' alt='')
script.
  function displayNav(){
  let nav = document.getElementById('nav');
  nav.style.transition = 'transform 1s ease';
  nav.classList.add('navEnter');
  document.getElementById("menuButton").classList.add("disappear");
  }
  function hideNav(){
  let nav = document.getElementById('nav');
  nav.classList.remove('navEnter');
  sleep(1000).then(() => {
  nav.style.transition = ""
  document.getElementById("menuButton").classList.remove("disappear");
  });
  }
  document.getElementById("menuButton").onclick = displayNav;
  document.getElementById("closeButton").onclick = hideNav;
  const sleep = (milliseconds) => {
  return new Promise(resolve => setTimeout(resolve, milliseconds))
  }