doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Ezra
  link(rel='shortcut icon' href='/static/images/favicon.svg' type='image/svg+xml')
  link(rel='stylesheet' type='text/css' href='/static/stylesheets/index.css')
  link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet')
img#lines(src='/static/images/Component 13.svg')
main
  #mainText.green
    | I&apos;m Ezra, A 
    span.blue
      | Full 
      br
      | Stack
    |  Web Developer
  button.blue
    a(href='') My Other Work
footer
  a.green(href='/about') About Me
  a.green(href='') PortFolio
  a.green(href='') A Little Fun